header {
    background-color: #AA0000;
    font-weight: bold;
    font-family: Helvetica;
    color: white;
    padding: 15px;
    font-size: xx-large;
}
.login {
    font-size: small;
    text-align: right;
}
#mynav {
    background-color: #333333;
}
body {
    background-color: white;
}
span main {
    text-align: left;
}
span column{
    text-align: right;
}