header {
    background-color: #AA0000;
    font-weight: bold;
    font-family: Helvetica;
    color: white;
}
#myheader a {
    font-size: xx-large;
    text-align: left;
}
#myheader b {
    font-size: small;
    text-align: right;
}
#mynav {
    background-color: #333333;
}
body {
    background-color: white;
    text-align: left;
}